#logoBar{
  width: 30vw;
  height: 100vh;
  color: orange;
  font-family: 'Barriecito';
  display: flex; /* Use Flexbox */
  flex-direction: column;
  align-items: center;
}

#siteLogo{
  width: 100%;
}

body {
  display: flex;
  background-color: lightgreen;
}

#staffGallery{
  width: 70vw;
  display: inherit;
  flex-wrap: wrap;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  border: 3px solid rgb(213, 167, 88);
  border-radius: 8px;
  padding: 8px 4px 4px 4px;
  margin: 16px;
  height: 250px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
  height: 200px;
}

.characterName {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Barriecito';
}

hr {
  border: 1px solid rgb(106, 156, 65);
}

@media (max-width: 600px) {
  body {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
  }

  #logoBar {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  #siteLogo {
    width: 80%;
    margin-bottom: 20px;
  }

  #staffGallery {
    width: 100%;
    justify-content: center;
  }

}